.clover {
  width: 100vw;
  height: 100vh;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  background-color: var(--main-back);
}

.red {
  color: var(--cal-cur-red);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header>h2 {
  padding-top: 3rem;
  color: var(--main-font);
  font-size: 2em;
}

.header>h1 {
  font-size: 4em;
  color: var(--main-font);
  padding-bottom: 2rem;
}

.main-container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  /* border-top: solid 0.2rem #000; */
}

.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #92C7CF;
  color: #fff;
  padding: 0.6rem 0;
  font-size: 1.2em;
}

.cal {
  padding-bottom: 3rem;
}

.date {
  border-collapse: collapse;
  height: 5.5rem;
  border: dashed 0.1rem #000;
}

.date>p {
  display: flex;
  margin: 1rem 0 0 1rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week:nth-child(n+3):nth-child(-n+4) {
  /* border: solid 2px #ad0c0c; */
}

.notes-title>h2 {
  background-color: var(--main-font);
  color: #fff;
  padding: 0.6rem 0;
  font-size: 1.2em;
}

.lines {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 2rem;
}

.line {
  width: 100%;
  margin-top: 4rem;
  border-bottom: solid 1px #000;
}